@media (max-width: 500px) {
	td {
		display: block;
	}
}

.post {
	margin-left: 2%;
	margin-right: 2%;
	margin-top: 2%;
	margin-bottom: 2%;
	background-color: LightBlue;
	padding: 5%;
	font-family: "Cambria", "Calisto MT", "Bookman Old Style", Bookman, "Goudy Old Style", Garamond, "Hoefler Text", "Bitstream Charter", Georgia, serif;
	letter-spacing: 0.5px;
	font-size: 1em;
}

.post:hover {
	background-color: LightGray;
	box-shadow: 0px 0px 13px gray;
}

.post span {
	font-size: 2em;
	font-family: "Calisto MT", "Bookman Old Style", Bookman, "Goudy Old Style", Garamond, "Hoefler Text", "Bitstream Charter", Georgia, serif;
	font-weight: 600;	
}

.shareField {
	position: fixed;
	top: 0;
	background-color: white;
	width: 100%;
	padding-bottom: 15px;
	text-align: center;
	right: 0;
	z-index:  100;
}

.shareField h1 {
	font-size: 2.5em;
	font-family: "Calisto MT", "Bookman Old Style", Bookman, "Goudy Old Style", Garamond, "Hoefler Text", "Bitstream Charter", Georgia, serif;
	font-weight: 900;
	letter-spacing: 2px;
}

.image {
	text-align: center;
	width: 96%;
	float: left;
	overflow: hidden;
	position: relative;
	text-align: center;
	cursor: default;
	margin-left: 2%;
	margin-right: 2%;
	margin-top: 2%;
	margin-bottom: 2%;
}

.image:hover {
	box-shadow: 0px 0px 13px gray;
}

img {
	display: none;
	width: 100%;
	height: 100%;
	float: left;
	overflow: hidden;
	position: relative;
	text-align: center;
	cursor: default;
	display: hidden;
}

.first {
	margin-top: 165px;
}

.overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
	opacity: 0;
	text-align: center;
	vertical-align: center;
	transition: all 0.2s;
	-webkit-transition: all 0.2s; /* Safari */
}

.overlay:hover {
	cursor: pointer;
	cursor: hand;
}

.image:hover .overlay{
	opacity: 0.8;
}

.pause {
	content: url("http://image.flaticon.com/icons/png/256/12/12193.png");
	width: 40%;
	height: 40%;
	text-align: center;
	vertical-align: center;
	top: 30%;
	left: 30%;
	display: block;
}

.pause:hover {
	cursor: pointer;
	cursor: hand;

}

.profile {
	display: block;
	margin: 0 auto;
	margin-top: 20px;
	min-width: 300px;
	width: 450px;
	background-color: LightBlue;
	padding: 20px;
}

.picWrapper {
	display: block;
	margin: auto;
	margin-top: 50px;
	width: 250px;
	height: 250px;
}

.profilePic {
	display: block;
	width: 250px;
	height: 250px;
}

.inputField {
	margin: 10px;

}

#username {
	width: 200px;
	margin: 0 auto;
}

#share {
	width: 400px;
	margin: 0 auto;
}
